@import url("https://fonts.googleapis.com/css2?family-Roboto:ital,wght@0,500;1,400&display-swap");
.navbar {
  position: relative;
  top: 0;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  z-index: 100;
}

.shadow-bg {
  background-color: #00102ed0;
}

.hamburger {
  display: none;
  padding: 2px;
  margin-right: 5%;
}

.bar {
  display: block;
  width: 30px;
  margin: 5px auto;
  height: 5px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 2.2rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav-link:hover {
  padding: 6px 15px;
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid #888888;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 26px #1d1d1d;
          box-shadow: 0px 2px 26px #1d1d1d;
}

@media only screen and (max-width: 550px) {
  .nav-menu {
    position: fixed;
    top: -1008%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.65);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.65);
    z-index: 1;
  }
  .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-menu.active {
    top: 79px;
  }
  .nav-item {
    margin: 3.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #09111C;
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header .headerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 80vh;
  margin-top: 2%;
  margin-bottom: 18%;
}

header .headerBox-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  color: white;
  width: 100%;
  max-width: 600px;
}

header .headerBox-one__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 30%;
}

header .headerBox-one__header div {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerBox-one__header div .headerBox-one__header-logo1 {
  font-size: 5rem;
}

header .headerBox-one__header div img {
  width: 20%;
  max-width: 60px;
  height: 85%;
  border-radius: 10px;
  margin-right: 10px;
}

header .headerBox-one__header-logo2 {
  font-size: 1.5rem;
  margin: auto;
}

header .headerBox-one__main {
  margin-top: 8%;
  margin-bottom: 4%;
  width: 90%;
  max-width: 600px;
}

header .headerBox-one__main-title {
  font-size: 4rem;
  font-weight: 600;
}

header .headerBox-one__main ul {
  margin: 1% 5%;
  width: 95%;
  color: white;
  font-size: 1.8rem;
}

header .headerBox-one__main li {
  margin: 10px;
}

header .headerBox-one__main span {
  color: #3799fb;
}

header .headerBox-one__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 350px;
  height: 20%;
}

header .headerBox-one__footer .bg-none1 {
  background-color: rgba(255, 255, 0, 0);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

header .headerBox-one__footer .bg-none1:hover {
  background-color: #025bb469;
}

header .headerBox-one__footer .bg-none2 {
  background-color: #0065cacb;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

header .headerBox-one__footer .bg-none2:hover {
  background-color: #025bb469;
}

header .headerBox-one__footer .button {
  padding: 20px 42px;
  border: 1px dashed rgba(253, 245, 230, 0.39);
  font-weight: 600;
  border-radius: 14px;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

header .headerBox-one__footer .button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headerBox-one__footer .button div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
}

header .headerBox-one__footer .button div span:nth-child(1) {
  --d: 0.05s;
}

header .headerBox-one__footer .button div span:nth-child(2) {
  --d: 0.1s;
}

header .headerBox-one__footer .button div span:nth-child(3) {
  --d: 0.15s;
}

header .headerBox-one__footer .button div span:nth-child(4) {
  --d: 0.2s;
}

header .headerBox-one__footer .button div span:nth-child(5) {
  --d: 0.25s;
}

header .headerBox-one__footer .button div span:nth-child(6) {
  --d: 0.3s;
}

header .headerBox-one__footer .button div span:nth-child(7) {
  --d: 0.35s;
}

header .headerBox-one__footer .button div span:nth-child(8) {
  --d: 0.4s;
}

header .headerBox-one__footer .button div span:nth-child(9) {
  --d: 0.45s;
}

header .headerBox-one__footer .button div span:nth-child(10) {
  --d: 0.5s;
}

header .headerBox-one__footer .button div span:nth-child(11) {
  --d: 0.55s;
}

header .headerBox-one__footer .button div:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
  --move: -4px;
  --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}

header .headerBox-one__footer .button div:hover span {
  -webkit-animation: move var(--duration) linear var(--d);
          animation: move var(--duration) linear var(--d);
}

header .headerBox-one__footer .button.smoke {
  --move: 12px;
  --move-y: -8px;
  --blur: 4px;
}

header .headerBox-one__footer .button.smoke:hover span {
  --duration: 1s;
  -webkit-animation: smoke var(--duration) linear var(--d);
          animation: smoke var(--duration) linear var(--d);
}

@-webkit-keyframes smoke {
  45%,
  55% {
    -webkit-filter: blur(var(--blur));
            filter: blur(var(--blur));
  }
  50%,
  50.1% {
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(var(--move)) translateY(var(--move-y));
            transform: translateX(var(--move)) translateY(var(--move-y));
  }
  50.1% {
    -webkit-transform: translateX(calc(var(--move) * -1));
            transform: translateX(calc(var(--move) * -1));
  }
}

@keyframes smoke {
  45%,
  55% {
    -webkit-filter: blur(var(--blur));
            filter: blur(var(--blur));
  }
  50%,
  50.1% {
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(var(--move)) translateY(var(--move-y));
            transform: translateX(var(--move)) translateY(var(--move-y));
  }
  50.1% {
    -webkit-transform: translateX(calc(var(--move) * -1));
            transform: translateX(calc(var(--move) * -1));
  }
}

.section-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #09111C;
}

.section-one_box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-one_box-one {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 250px;
  z-index: 1;
  margin: 1%;
}

.section-one_box-one__header {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 5%;
  height: 95%;
  border-radius: 10px;
  background: #5c677d;
  background: -webkit-gradient(linear, left top, right top, from(#5c677d), to(#979797));
  background: linear-gradient(90deg, #5c677d 0%, #979797 100%);
}

.section-one_box-one__main {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 90%;
  border-radius: 15px;
  background-color: #0a1420;
  -webkit-transition: bottom .2s;
  transition: bottom .2s;
}

.section-one_box-one__main:hover {
  bottom: 0;
}

.section-one_box-one__main p {
  text-align: center;
  color: white;
}

.section-one_box-one__main .bbtc {
  padding: 50px 0;
  font-size: 3rem;
}

.section-one_box-one__main .pbtc {
  margin: auto;
  padding: 20px 20px;
  font-size: 2rem;
  width: 80%;
  border-radius: 20px;
  background: #5c677d;
  background: -webkit-gradient(linear, left top, right top, from(#5c677d), to(#979797));
  background: linear-gradient(90deg, #5c677d 0%, #979797 100%);
}

.section-one .section-one_boxTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 100px;
  width: 100%;
}

.section-one .section-one_boxTwo-one {
  width: 100%;
  max-width: 700px;
}

.section-one .section-one_boxTwo-one_logo {
  width: 100%;
}

.section-one .section-one_boxTwo-one_logo-title {
  position: relative;
  margin: 2% 5%;
  font-size: 3rem;
  color: white;
}

.section-one .section-one_boxTwo-one_logo-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4%;
  bottom: 50%;
  width: 10%;
  height: 1px;
  background-color: white;
}

.section-one .section-one_boxTwo-one_logo-title .title {
  margin-left: 15%;
}

.section-one .section-one_boxTwo-one_logo-title span {
  color: #3799fb;
}

.section-one .section-one_boxTwo-one_logo-subtitle .subtitle {
  margin: 5%;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

.section-one .section-one_boxTwo-one_icone img {
  margin: 4% 20%;
  width: 50%;
}

.section-two {
  position: relative;
  width: 100%;
  padding: 3% 0;
  background-color: #091422;
}

.section-two_box {
  width: 100%;
  height: 100%;
}

.section-two_boxOne {
  width: 100%;
}

.section-two_boxOne-title {
  position: relative;
  margin: 2% 5%;
  max-width: 500px;
  font-size: 3rem;
  color: white;
}

.section-two_boxOne-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4%;
  bottom: 50%;
  width: 10%;
  height: 1px;
  background-color: white;
}

.section-two_boxOne-title .title {
  margin-left: 15%;
}

.section-two_boxOne-title span {
  color: #3799fb;
}

.section-two_boxTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.section-two_boxTwo-box {
  position: relative;
  margin: 3%;
  width: 350px;
  height: 450px;
}

.section-two_boxTwo-box .number-bg {
  position: absolute;
  top: -16%;
  left: -16%;
  font-size: 40rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.61);
  z-index: 1;
}

.section-two_boxTwo-boxMain {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 85%;
  border-radius: 25px;
  border: 1px dashed rgba(253, 245, 230, 0.39);
  background-color: #0a1420c2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 2;
}

.section-two_boxTwo-boxMain .number {
  border-radius: 25px;
  width: 100%;
  height: 20%;
  color: white;
}

.section-two_boxTwo-boxMain .number-one {
  margin: 8% 4%;
  text-align: center;
  font-size: 2rem;
}

.section-two_boxTwo-boxMain .number-one span {
  font-size: 40rem;
  margin-right: 5%;
}

.section-two_boxTwo-boxMain .text {
  padding: 5% 4%;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.section-two_boxTwo-boxMain .content {
  width: 100%;
  height: 80%;
  border-radius: 25px;
  overflow: hidden;
  background-color: #1078e0a8;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.section-two_boxTwo-boxMain .content:hover {
  height: 100%;
}

.section-two_boxTwo-boxMain .content .title {
  width: 100%;
  height: 20%;
}

.section-two_boxTwo-boxMain .content .subtitle {
  padding: 5% 0;
  width: 100%;
  height: 80%;
  border-radius: 25px;
  background: #5c677d;
  background-color: #d4d0c960;
}

.section-two_boxTwo-boxMain .content .subtitle-one {
  margin: 2.5%;
}

.section-tree {
  position: relative;
  width: 100%;
}

.section-tree_boxOne {
  width: 100%;
  margin-top: 79px;
}

.section-tree_boxTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 6%;
  width: 100%;
}

.section-tree_boxTwo-title {
  position: relative;
  margin: 2% 5%;
  max-width: 500px;
  font-size: 4rem;
  color: white;
}

.section-tree_boxTwo-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4%;
  bottom: 50%;
  width: 10%;
  height: 1px;
  background-color: white;
}

.section-tree_boxTwo-title .title {
  margin-left: 15%;
}

.section-tree_boxTwo-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
}

.section-tree_boxTwo .accordion-menu {
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.section-tree_boxTwo h2 {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #ebebeb;
}

.section-tree_boxTwo p {
  position: relative;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  line-height: 26px;
  font-size: 15px;
  margin-top: 14px;
  color: rgba(170, 189, 211, 0.8);
  letter-spacing: 1px;
  max-height: 800px;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
}

.section-tree_boxTwo ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0 20px 10px;
  margin: 0;
  background-color: rgba(212, 196, 196, 0.178);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.19);
}

.section-tree_boxTwo ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #bfc7ca;
}

.section-tree_boxTwo ul li:nth-child(1) {
  border: none;
}

.section-tree_boxTwo ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.section-tree_boxTwo ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.section-tree_boxTwo ul li:nth-of-type(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.section-tree_boxTwo ul li:last-of-type {
  padding-bottom: 0;
}

.section-tree_boxTwo ul li .arrow {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.section-tree_boxTwo ul li .fas {
  color: #477eb4;
  font-size: 15px;
  margin-right: 10px;
}

.section-tree_boxTwo ul li .arrow:before,
.section-tree_boxTwo ul li .arrow:after {
  content: "";
  position: absolute;
  background-color: #477eb4;
  width: 3px;
  height: 9px;
}

.section-tree_boxTwo ul li .arrow:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
}

.section-tree_boxTwo ul li .arrow:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg);
}

.section-tree_boxTwo ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.section-tree_boxTwo ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.section-tree_boxTwo ul li input[type=checkbox]:checked ~ .arrow:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}

.section-tree_boxTwo ul li input[type=checkbox]:checked ~ .arrow:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}

.section-tree_boxTwo .transition,
.section-tree_boxTwo p,
.section-tree_boxTwo ul li .arrow:before,
.section-tree_boxTwo ul li .arrow:after {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.section-tree_boxTwo .flipIn,
.section-tree_boxTwo h1,
.section-tree_boxTwo ul li {
  -webkit-animation: flipdown 0.5s ease both;
          animation: flipdown 0.5s ease both;
}

.section-tree_boxTwo .no-select,
.section-tree_boxTwo h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

footer {
  width: 100%;
  background-color: rgba(32, 36, 41, 0.596);
}

footer .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3%;
  width: 100%;
  height: 100%;
}

footer .footer-main__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  max-width: 400px;
}

footer .footer-main__one-logo {
  width: 100%;
  height: 150px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  color: white;
}

footer .footer-main__one-logo img {
  width: 20%;
  max-width: 60px;
  height: 45%;
  border-radius: 10px;
  margin-right: 10px;
}

footer .footer-main__one-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

footer .footer-main__one-button .bg-none2 {
  background-color: #0065cacb;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

footer .footer-main__one-button .bg-none2:hover {
  background-color: #025bb469;
}

footer .footer-main__one-button .button {
  padding: 20px 42px;
  border: 1px dashed rgba(253, 245, 230, 0.39);
  font-weight: 600;
  border-radius: 14px;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

footer .footer-main__one-button .button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-main__one-button .button div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
}

footer .footer-main__one-button .button div span:nth-child(1) {
  --d: 0.05s;
}

footer .footer-main__one-button .button div span:nth-child(2) {
  --d: 0.1s;
}

footer .footer-main__one-button .button div span:nth-child(3) {
  --d: 0.15s;
}

footer .footer-main__one-button .button div span:nth-child(4) {
  --d: 0.2s;
}

footer .footer-main__one-button .button div span:nth-child(5) {
  --d: 0.25s;
}

footer .footer-main__one-button .button div span:nth-child(6) {
  --d: 0.3s;
}

footer .footer-main__one-button .button div span:nth-child(7) {
  --d: 0.35s;
}

footer .footer-main__one-button .button div span:nth-child(8) {
  --d: 0.4s;
}

footer .footer-main__one-button .button div span:nth-child(9) {
  --d: 0.45s;
}

footer .footer-main__one-button .button div span:nth-child(10) {
  --d: 0.5s;
}

footer .footer-main__one-button .button div span:nth-child(11) {
  --d: 0.55s;
}

footer .footer-main__one-button .button div:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
  --move: -4px;
  --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}

footer .footer-main__one-button .button div:hover span {
  -webkit-animation: move var(--duration) linear var(--d);
          animation: move var(--duration) linear var(--d);
}

footer .footer-main__one-button .button.smoke {
  --move: 12px;
  --move-y: -8px;
  --blur: 4px;
}

footer .footer-main__one-button .button.smoke:hover span {
  --duration: 1s;
  -webkit-animation: smoke var(--duration) linear var(--d);
          animation: smoke var(--duration) linear var(--d);
}

@keyframes smoke {
  45%,
  55% {
    -webkit-filter: blur(var(--blur));
            filter: blur(var(--blur));
  }
  50%,
  50.1% {
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(var(--move)) translateY(var(--move-y));
            transform: translateX(var(--move)) translateY(var(--move-y));
  }
  50.1% {
    -webkit-transform: translateX(calc(var(--move) * -1));
            transform: translateX(calc(var(--move) * -1));
  }
}

footer .footer-main__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  max-width: 600px;
}

footer .footer-main__two-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100px;
}

footer .footer-main__two-menu a {
  margin: 0 3%;
  font-size: 2.2rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

footer .footer-main__two-menu a:hover {
  padding: 6px 15px;
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid #888888;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 26px #1d1d1d;
          box-shadow: 0px 2px 26px #1d1d1d;
}

footer .footer-main__two-icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
}

footer .footer-main__two-icone i {
  font-size: 2.5rem;
  margin: 1rem;
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

footer .footer-main__two-icone i:hover {
  color: rgba(41, 41, 194, 0.466);
}

footer .footer-main .footer-stop {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: white;
}

.spacer {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
}

.layer1 {
  background-image: url("../background_svg/background.svg");
}

.layer2 {
  background-image: url("../background_svg/background2.svg");
}

.about-ellipse {
  display: none;
}

.planeta {
  margin-top: 80px;
  display: none;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: none;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  /* color of the scroll thumb */
  border-radius: 15px;
  /* roundness of the scroll thumb */
}

@media (min-width: 900px) {
  .header-box-two {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45%;
    height: 100%;
  }
  .header-box-two .planeta {
    display: block;
    width: 500px;
    height: 500px;
  }
  .section-one_boxTwo-two {
    position: relative;
    width: 500px;
    height: 100%;
  }
  .section-one_boxTwo-two .about-ellipse {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    -webkit-animation: run 3.5s infinite alternate;
            animation: run 3.5s infinite alternate;
  }
  @-webkit-keyframes run {
    from {
      top: 45%;
    }
    to {
      top: 55%;
    }
  }
  @keyframes run {
    from {
      top: 45%;
    }
    to {
      top: 55%;
    }
  }
}

@media (min-width: 1400px) {
  header .headerBox {
    margin-top: 3%;
    margin-bottom: 15%;
  }
}
/*# sourceMappingURL=main.css.map */